<?xml version = "1.0" encoding = "UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="actor" class="com.stackroute.springapplication.beans.Actor">
        <property name="name" value="VijayDevarkondar"/>
        <property name="gender" value="Male"/>
        <property name="age" value="29"/>
    </bean>
    <bean id="movie" class="com.stackroute.springapplication.beans.Movie" autowire="byName">
        <property name="actor">
            <ref bean="actor"></ref>
        </property>
    </bean>
    <bean id="movie2" class="com.stackroute.springapplication.beans.Movie" autowire="byType">
        <property name="actor">
            <ref bean="actor"></ref>
        </property>
    </bean>
    <bean id="movie1" class="com.stackroute.springapplication.beans.Movie" autowire="constructor">
        <property name="actor">
            <ref bean="actor"></ref>
        </property>
    </bean>

</beans>


